

body{
  margin: 0px;
  padding: 0px;
  background-color: #cee0ee;
}

header {
  background-color: #000000;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0 px 30px;
  color: #fff;
}

h1 {
  font-size: 200%;
  padding-left: 40px;
  padding-right: 20px;
}

nav ul {
  -webkit-filter: invert(100%);
  min-width: 300px;
  list-style: none;
}

nav a {
  color: #b2d695;
  font-weight: bold;
  text-decoration: none;
}
.menu {
  display: flex;
  align-items: center;
}

.menu ul{
  display: flex;
  margin: 0px;
  padding: 0px;

}

.menu ul li a{
  height: 50px;
  line-height: 50px;
  margin: 0px;
  padding: 0px 40px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #525252ee;
  border-right: 2px solid rgb(0, 0, 0);
  display: flex;
}

.menu ul li a img{
  padding-top: 10px;
}

h2 {
  margin: 2% 0;
  font-size: 250%;
}

.search-icon a{
  -webkit-filter: invert(100%);
  margin-right: 25px;
  float: right;

}

.flexbox-container {
  display: flex;
  flex-direction: column;
  
}


.card {
  width: 50%;
  height: 300px;
  margin: 20px;
  border: #000000 solid;
  background-color: #deeaf3;
  
}

.contact{
  
  width: 90%;
  height: 300px;
  margin: 5%;
  border: #000000 solid;
  background-color: #e5edde;
  justify-content: center;
}